body {
    background-color: #1a1a1a; /* Темный фон */
    color: #ffffff; /* Светлый текст */
    text-align: center; /* Выравнивание по центру */
}

#dynamicFormContainer {
    margin: 50px auto; /* Отступы и центрирование блока формы */
    max-width: 400px; /* Максимальная ширина блока формы */
    padding: 20px;
    background-color: #292929; /* Цвет фона блока формы */
    border-radius: 8px; /* Скругление углов блока формы */
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="button"] {
    background-color: #4CAF50; /* Зеленая кнопка */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #45a049; /* Зеленая кнопка при наведении */
}
