body {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    font-family: Arial, sans-serif; /* Шрифт Arial */
    text-align: center;
}

#dynamicFormContainer {
    margin: 50px auto;
    max-width: 400px;
    padding: 20px;
    background-color: #292929;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: var(--tg-theme-text-color); /* Используем переменную для цвета текста */
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

h1 {
    font-family: Arial, sans-serif;
}
